pdfplumber
camelot-py[cv]
rank-bm25
numpy
pytest
tabulate
pandas
matplotlib
seaborn
plotly
jupyter
langchain-text-splitters
langchain-google-genai
langchain-community
langchain-google-vertexai
ragas
datasets
google-genai
python-dotenv